body{
    font-family:Verdana,"Times New Roman";
    background: #000000;
    color: #FFFFFF;
    margin: 25px 25px 0px;
}

h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img{
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
}

div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

.intro{
    border-radius: 15px;
    margin-top: 15px;
}

.red{
    background: #f00;
    text-align: right;
    margin-left: 50px;
    border: 0px 0px 3px 10px;
}

.blue{
    background: #0000ff;
    text-align: left;
    margin-right: 50px;
    border: 0px 10px 3px 0px;
}

.yellow{
    background: #ffff00;
    text-align: right;
    margin-left: 50px;
    border: 0px 0px 3px 10px;
    color: #000000;
    text-shadow: 2px 4px #c7e2c7;
}

.green{
    background: #008500;
    text-align: left;
    margin-right: 50px;
    border: 0px 10px 3px 0px;
}

span{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;
}

footer{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);  
    text-align: center;
    font-size: 20px;
    padding: 10px 10px 10px 0px;
}